*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 800px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* header */

.col{
    
}

.justify-between{
    justify-content:space-between
}

/* debug */

.debug .header-page{
    background-color: #ADD8E6;
    padding: 20px;
}

.debug .footer-page{
    background-color: #D3D3D3;
    padding: 20px;
}

.debug .col {
    background-color: #DAA520;
    border: 2px dashed black;
}







